<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>ru.ok</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ok1246999552</string>
				<string>fb1731805480431829</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>9a844091ae94e28725c4e32927eb6140ee563504</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1731805480431829</string>
	<key>FacebookDisplayName</key>
	<string>test_auth</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbshareextension</string>
		<string>fbauth2</string>
		<string>fb-messenger-api</string>
		<string>fbapi</string>
		<string>ok</string>
		<string>fb</string>
		<string>fbauth2</string>
		<string>fb1731805480431829</string>
		<string>vkauthorize</string>
		<string>vk5437729</string>
		<string>okauth</string>
		<string>ok1246999552</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>item0</key>
	<string>okauth</string>
	<key>item1</key>
	<string>ok1246999552</string>
</dict>
</plist>
